article {
    color: azure;
  &> div {
    /* selector by tag name priority low: 1 */
    padding: 20px;
    margin: 20px;
    background-color: rgb(255, 0, 0) !important /* priority Critical: 1000 */;
    /* display: inline; */
    border: 0;
  }
}
.hello {
    font-size: 25px;
    &-world{
        font-size: large;
    }
}